.container {
  height: 2rem;
}

.headerContent {
  max-width: 700px;
  height: 6rem;
  margin: 0 auto;

  display: flex;
  align-items: center;
  position: relative;

  img {
    width: 238.62px;
    height: 25.63px;
  }
}
